{
  "$schema": "https://opencode.ai/config.json",
  "theme": "system",
  "autoupdate": true,
  "agent": {
    "plan": {
      "temperature": 0.2
   },
  },
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ onepasswordRead "op://Personal/Context7 API key/password" }}"
      },
      "enabled": true
    },
    "chrome-devtools": {
      "type": "local",
      "command": ["npx", "-y", "chrome-devtools-mcp@latest"]
    }
  }
}
